body {
	margin:50px 0px; padding:0px;
	text-align:center;
}
	
#content {
	width:700px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;
}

label {
	margin-left: 50px;
    text-align: right;
}

input {
	float: right;
	margin-right: 60px;
	
}

th {
	background-color: #999;
	font-weight: normal;
	font-size: 14px;
	color: #fff;
}

.live {
	background-color: #C2DFFF;
}

.dead {
	background-color: #B5EAAA;	
}